  @import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@300&family=Sedgwick+Ave+Display&display=swap');


  * {
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.container__1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgb(0, 0, 0);
  padding: calc(50px + 10vh) 0px 10px 0px;
  width: 100vw;
  background: white;
  font-weight: 1000;
}
#header {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.search {
  display: flex;
  align-items: center;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 5px;
  padding: 5px;

}

.search input {
  border: none;
  outline: none;
  background-color: transparent;
  color: rgb(0, 0, 0);
}

.search button {
  border: none;
  outline: none;
  background-color: transparent;
  color: rgb(0, 0, 0);
  cursor: pointer;
}
#product {
  background-color: white;
  width: 100vw;
  height: 1000px;
  padding: 5% 10% 0 5%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
/* items */
.items {
  width: 25vw;
  height: 50vh;
  border: 1px solid black;
  box-shadow: 3px 3px 30px 5px rgb(0, 0, 0,0.35);
}
/* 111111111111111111111111111 */
.items-1 {
  display: flex;
  text-align: center;
  height: calc(1/2.5 * 100%);
  border: 1px black solid;
}
.items-1 img {
  padding: 1%;
  width: 50%;
  height: 100%;
  border: 1px black solid;
}
.items-1 .items-info {
  padding: 2.5%;
  width: 50%;
  height: 100%;
  word-break: break-word;
  border: 1px black solid;
}

/* 222222222222222222222222222 */
.items-2 {
  display: flex;
  flex-direction: column;
  padding: 2%;
  height: calc(1/2.5 * 100%);
  border: 1px black solid;
  border-bottom: 3px black dotted;
}
.items-2 .items-text {
  word-break: break-word;
  text-indent: 2.5em;
}


/* 333333333333333333333333333 */
.items-3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: calc(0.5/2.5 * 100%);
  border: 1px black solid;
}
.buy-btn {
  width: 70%;
  padding: 2%;
}
.cart-btn {
  width: 20%;
  padding: 2%;
}